<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  namespace名称空间 -->
<mapper namespace="com.hngc.mapper.UserMapper">
    <update id="update">
        update user
        set username=#{username},
            password=#{password},
            role=#{role},
            sex=#{sex},
            phone=#{phone}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="integer">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="getById" parameterType="int" resultType="com.hngc.entity.User">
        select *
        from user
        where id = #{id};
    </select>
    <select id="getAll" resultType="com.hngc.entity.User">
        select *
        from user;
    </select>
    <insert id="save" parameterType="com.hngc.entity.User">
        insert into user
        values (null, #{username}, #{password}, #{role}, #{sex}, #{phone})
    </insert>
</mapper>