<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  namespace名称空间 -->
<mapper namespace="com.hngc.mapper.UserMapper">
    <select id="getById" parameterType="int" resultType="com.hngc.entity.User">
        select *
        from User
        where id = #{id};
    </select>
</mapper>